/* .main-wrapper {
    margin-left: 250px; 
    padding: 20px;
} */

.table thead th {
    vertical-align: middle;
    text-align: center;
}

.badge {
    font-weight: 600;
    font-size: 0.9rem;
}

.form-select-sm {
    min-width: 110px;
}

.btn-sm:hover {
    opacity: 0.85;
    transition: 0.2s;
}
