/* ============================
   Login Page
   ============================ */

body {
  font-family: 'Poppins', sans-serif;
  /* Dark overlay + background image */
  background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), 
              url('../images/farm.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}


h2 {
  text-align: center;
  color: #29ba30;
  margin-bottom: 15px;
}

form label {
  display: block;
  color: #333;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.btn-success {
  background-color: #43a047;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background 0.3s;
}

.btn-success:hover {
  background-color: #2e7d32;
}

/* Links */
p {
  text-align: center;
  margin-top: 10px;
}

p a {
  color: #43a047;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}


.bg-gray {
    background-color: #f0f0f0a3; /* light gray */
}
