body {
  font-family: 'Poppins', sans-serif;
  background-image: url('../images/farm.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register-container {
  background-color: rgba(255, 255, 255, 0.845);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  max-width: 900px;
  width: 100%;
}

h2 {
  text-align: center;
  color: #2e7d32;
  margin-bottom: 20px;
}
h6{
  margin-bottom: 20px;
}
label {
  font-weight: 500;
  font-size: 0.9rem;
}

.form-control {
  font-size: 0.9rem;
}

button {
  background-color: #2e7d32;
  color: white;
}

button:hover {
  background-color: #256628;
}
