body {
  font-family: 'Poppins', sans-serif;
  /* Dark overlay + background image */
  background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), 
              url('../images/farm.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}



h2 {
  text-align: center;
  color: #2e7d32;
  margin-bottom: 20px;
}
h6{
  margin-bottom: 20px;
}
label {
  font-weight: 500;
  font-size: 0.9rem;
}

.form-control {
  font-size: 0.9rem;
}

/* button {
  background-color: #2e7d32;
  color: white;
} */

button:hover {
  background-color: #256628;
}
