body {
    background: #f2f2f2;   /* light gray background */
}

.white-box {
    max-width: 700px;
    background: white;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Title */
.form-title {
    font-weight: bold;
    color: #2e7d32; /* green */
}

/* Date Box */
.date-box {
    background: #ffffff;
}

/* Inputs */
input, select, textarea {
    border-radius: 6px !important;
}
